.locationCont {
    width: max-content;
        height: 35px;
        text-align: left;
        color:#888;
        line-height: 35px;
}

.locationCont h1{
    margin: 0;
    
    height: 100px;
    white-space: nowrap;
}

.weatherLocationCont {
  
    margin-left: 10px;
    margin-right: 10px;

    box-sizing: border-box;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0,0,0,0.75);
}

.bloqueNoticia {
    height: 100px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0,0,0,0.75);

    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

