.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-link {
  color: #09d3ac;
}



.details {
  background: #999;
  height: 100vh;
  width: 100%;

}

.green {
  background: green;
  height: 100px;
  min-width: 50px;
}

.blue {
  background: blue;
  height: 100px;
  min-width: 50px;
}

.red {
  background: red;
  height: 100px;
  min-width: 50px;
}

.yellow {
  background: yellow;
  height: 100px;
  min-width: 50px;
}

.botonCiudad {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
